<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <connectionStrings>
    <add name="DBURL"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Deep Patel\documents\visual studio 2015\Projects\DEFinal\DEFinal\MyDB.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
</configuration>